body{
    margin: 0;
    background: #f2f2f2;
    font-family: 'arial';
}

.left-sidebar-section{

}

.left-sidebar-div{
    background: white;
    width:310px;
    height:100%;
    border:1px solid whitesmoke;
    box-shadow: 1px 1px 1px lightgray;
    margin-top:-415px;
}

.facebook-link{
    text-decoration: none;
    color:#677B8C;
    letter-spacing: 3px;
    position: relative;
    top:-8px;
    margin-left:13px;
    font-family: ;
}

.left-sidebar-top-right-icon{
    margin-left:140px;
    font-size:23px;
    color:#444950;
    padding:4px;
    border-radius:8px;
}


.left-sidebar-top-right-icon:hover{
    padding:4px;
    background:#f2f2f2;
    cursor: pointer;
}

.left-sidebar-heading{
    font-size:22px;
    margin-left:12px;
}

.your-profile-link-box{
    width:280px;
    height:37px;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    border:1px solid lightgray;
    margin-left:14px;
    border-radius:8px;
}

.your-profile-image,.your-profile-image-2.your-profile-image-2{
    border-radius:200px;
}

.your-profile-image{
    margin-left:12px;
    margin-top:2px;
    width:32px;
    height:32px;
}

.your-profile-image-2{
    margin-top:10px;
    margin-left:15px;
    width:37px;
    height:37px;
}

.your-profile-name{
    margin-left:58px;
    margin-top:-24px;
    font-size:15px;
    font-family: 'Roboto';
}

.your-profile-icon{
    margin-left:252px;
    margin-top:-32px;
    opacity: 75%;
}

.left-sidebar-link-hover-box{
    display: flex;
    flex-direction: row;
    height:38px;
    width:290px;
    margin-left:10px;
    padding-left:4px;
    border-radius:4px;
}

.left-sidebar-link-hover-box:hover{
    background: #f2f2f2;
    height:38px;
    width:290px;
    padding-left:4px;
}


.left-sidebar-icon{
    font-size:25px;
    margin-left:7px;
    margin-top:8px;
}

.left-sidebar-link{
    text-decoration: none;
    color:black;
    margin-left:20px;
    margin-top: 11px;
}

.left-sidebar-link::target{
    color:red;
}

.left-sidebar-bottom-underline,.box-2-underline{
    height:1px;
    background: lightgray;
    margin-left:15px;
}

.left-sidebar-bottom-underline{
    width:280px;
    margin-top:457px;
}

.box-2-underline{
    width:647px;
    margin-top:-5px;
}

.left-sidebar-bottom-icons-row{
    display: flex;
    flex-direction:row;
}

.left-sidebar-bottom-icons{
    font-size:24px;
    margin-left:19px;
    color:#454A51;
    padding:3px;
    font-size:24px;
    border-radius:8px;
    margin-top:7px;
}

.left-sidebar-bottom-icons:hover{
    padding:3px;
    padding-left: 8px;
    padding-right: 8px;
    background: #f2f2f2;
    font-size:24px;
}

.left-sidebar-bottom-icons:nth-child(5){
    margin-left:62px;
}

.front-page-heading,.front-page-heading-2{

    margin-top:13px;
    font-family: 'Roboto';

}

.front-page-heading{
    font-size:18px;
}

.front-page-heading{
    margin-left:540px;
    font-size:20px;
}

.front-page-heading-2{
    margin-left:17px;
}

.front-page-box-1,.front-page-box-2,.front-page-box-3{
    width:680px;
    background: white;
    border-radius:8px;
    border:1px solid lightgray;
    box-shadow: 1px 1px 1px lightgray;
}

.front-page-box-1,.front-page-box-2{
    margin-left:537px;
}

.front-page-box-1{
    height:144px; 
}

.front-page-box-2{
    height:190px;
}

.front-page-box-3{
    height:250px;
    margin-top: 13px;
}

.your-profile-name-2{
    font-family:'Roboto';
    margin-left: 66px;
    margin-top:-29px;
}

.front-page-box-1-para,.front-page-box-3-para{
    font-size:14px;
    margin-left:18px;
    line-height: 20px;
}

.front-page-box-1-para{
    margin-top:27px;
}

.front-page-box-3-para{
    margin-top:-8px;
    opacity: 85%;
}

.box-1-link{
    text-decoration: none;
    color:;
}

.box-1-link:hover{
    text-decoration: underline;
}

.all-status-div{
    display:flex;
    flex-direction:row;
    margin-left:550px;
    margin-top:-40px;
    width:100px;
    padding-left:20px;
    height:33px;
    border-radius:8px;

}

.all-status-div:hover{
    background: #f2f2f2;
    cursor:pointer;
}


.all-status{
    font-size:14px;
    margin-top:8px;
    margin-left:px;
}

.all-status-icon{
    margin-top:10px;
    margin-left:6px;
    font-size:13px;
}

.box-2-ul,.box-2-li-divs{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: -30px;
}

.box-2-li-divs:nth-child(2){
    margin-left:60px;
}

.box-2-li-divs:nth-child(3){
    margin-left:50px;
}

.box-2-icons{
    margin-left:5px;
    margin-top:-10px;
    font-size:12px;
    padding: 1px;
    border:1px solid transparent;
}

.box-2-icons:hover{
    border:1px solid lightgray;
    cursor: pointer;
    padding: 1px;
}

.box-2-li{
    list-style: none;
    margin-top:-13px;
    margin-left:-1px;
}

.box-2-links{
    color:black;
    font-size:14px;
    text-decoration: none;
}

.box-2-li:nth-child(){
    font-family: 'Roboto';
}

.box-2-hover-box,.box-3-hover-box{
    border-radius:8px;
    padding-bottom:10px;
    padding-top:10px;
    margin-top:12px;
    width:650px;
}

.box-2-hover-box{
    margin-left:8px;
}

.box-3-hover-box{
    margin-left:9px;
    padding-top:13px;
}

.box-2-hover-box:hover,.box-3-hover-box:hover{
    background: #f2f2f2;
    cursor: pointer;
}

.box-2-hover-box-icon{
    background:#dcdcdd;
    color:#61656B;
    border-radius:4px;
    padding:9px;
    margin-top:14px;
    margin-left:18px;
    font-size:12px;
}

.box-2-hover-box-profile-name,.no-ads,.box-3-hover-box-profile-name{
    font-size:14px;
    margin-top:-30px;
}

.box-2-hover-box-profile-name,.box-3-hover-box-profile-name{
    margin-left:62px;
}

.box-3-hover-box-profile-name{

}

.no-ads{
    margin-left:284px;
    margin-top:-42px;
}

.id-no,.time-period{
    color:gray;
    font-size:11px;
    margin-left:57px;
    margin-top:-12px;
}

.id-no{
    margin-left:62px;
}

.time-period{
    margin-left:287px;
    margin-top:-12px;
}


.radio{
    margin-left:260px;
    margin-top:-42px;
    padding: 2px;
    border:1px solid lightgray;
}
