body{
    margin: 0;
    background: #f2f2f2;
    font-family: 'arial';
}

.left-sidebar-section{
    position: fixed;
}

.left-sidebar-div{
    height:720px;
    width:50px;
    background: white;
    padding:2px;
    border-right:1px solid #E0E0E0;
}

.left-sidebar-div:hover{
    width:320px;
    height:720px;
}

.left-sidebar-section:hover{
 
}

.icons-column-1,.icons-column-2,.icons-column-3{
    display: flex;
    flex-direction:column; 
    margin-left:12px;
}

.icons-column-1{
    margin-top:6px;
}

.icons-column-2{
    margin-top:47px;
}

.icons-column-3{
    margin-top:122px;
}

.icons-1,.icons-2,.icons-3{
    margin-top:5px;
    margin-left:-5px;
    padding:5px;
    color:#212121;
}

.icons-1{
    font-size:24px;
}

.icons-2{
    font-size:28px;
}

.icons-3{
    font-size:23px;
}

.icons-1:hover,.icons-2:hover,.icons-3:hover{
    background:#F5F5F5;
    cursor:pointer;
    padding:5px;
    border-radius:5px;
}

.profile-pic{
    width:30px;
    height:30px;
    border-radius:200px;
    margin-top:15px;
    margin-left:-2px;
}

.left-sidebar-short-bar{
    width:22px;
    height:2px;
    background: lightgray;
    position: absolute;
    top:502px;
    left:17px;
}


.account-id{
    text-decoration:none;
    color:black;
    position: absolute;
    border:1px solid #d1d1d1;
    padding:8px;
    padding-left:12px;
    padding-right:80px;
    border-radius:8px;;
    background:white ;
    word-spacing: px;
    font-size:14px;
    cursor: default;
    white-space: nowrap;
}

.account-id-icon{
    position: absolute;
    font-size:14px;
    color:#444950;
    opacity:75% ;

}
.report-a-problem-link{
    font-size:12px;
    text-decoration: none;
    color:#333333;
    position: absolute;
    top:727px;
    left:1400px;
    border:1px solid #b2b8c4;
    border-bottom:1px solid transparent;
    font-family:'roboto';
    background: #b2b8c4;
    background:#eef0f1;
    padding:3px;
    padding-left:5px;
    padding-right:5px;
    padding-top:7px;
    white-space:nowrap;
    position: fixed;
}
