body{
    background: #f2f2f2;
}

.left-sidebar-section{
    margin-top:-738px;
}

.audience-heading{
    margin-left:80px;
    margin-top:26px;
    font-family:'Roboto';
    font-size:20;
    opacity:92%;
}


.account-id{
    left:430px;
    top:25px;
}

.account-id-icon{
    left:704px;
    top:34px;
}


.bottom-bar-div{
    position: fixed;
    background:white;
    width:1537px;
    height:57px;
    margin-top:-7px;
    margin-left:px;
    z-index: ;

}

.front-page-box{
    width:645px;
    height:650px;
    background: white;
    margin-left:70px;
    margin-top:-10px;
    border:1px solid lightgray;
    box-shadow: 1px 1px 1px  whitesmoke;
    border-top-left-radius:8px;
    border-top-right-radius: 8px;
    border-bottom:1px solid transparent;
    padding-left: 13px;
}

.box-top-heading{
    font-size:20px;
    margin-left:22px;
    margin-top:30px;
    opacity:75%;
}

.box-top-para{
    font-size:14px;
    color:gray;
    margin-left:22px;
    margin-top:-12px;
}

.learn-more-link{
    font-size:14px;
    text-decoration: none;
    color:#4665a2;
}

.learn-more-link:hover{
    text-decoration: underline;
}

.content-box{
    display: flex;
    flex-direction: column;
    margin-top:-570px;
    margin-left:90px;
}

.para-headings{
    font-family:'Roboto';
    margin-left:14px;

    margin-top:33px;
    opacity:90%;
    font-size:14px;
}

.paras{
    font-size:14px;
    margin-top:-11px;
    line-height:20px;
    margin-left:15px;
    opacity:90%;
}

.buttons{
    text-decoration: none;
    font-size:14px;
    font-family:'Roboto';
    border:1px solid #1c74f4;
    width:180px;
    padding-left:16px;
    padding-right:px;
    padding-top:6px;
    padding-bottom:7px;
    margin-left:13px;
    background:#1c74f4;
    color:white;
    border-radius:8px;
    opacity:50%;
    margin-top:-6px;
    white-space: nowrap;
}

.buttons:hover{
    cursor:not-allowed;
}

.buttons:nth-child(6){
    padding-right:10px;
}

.buttons:nth-child(12){
    padding-right:12px;
}


content-box:nth-child(4){
    margin-top:20px;
}