@media screen and (max-width:704px),screen and (max-height:150px){

    body{
        cursor: pointer;
                height:670px;
        bottom: 0;
        overflow-y: scroll;
        top: 0;
    }
    
    .active-status-link,.learn-more-link{
        text-decoration: none;
        color:#576B95;
    }

    .gray-box{
        background: #f2f2f2;
        padding-top: 2px;
        padding-left: 12px;
        padding-bottom: 12px;
    }

    .box-heading{
        font-size:14px;
    }

    .box-para{
        font-size:12px;
        color:gray;
        line-height:;
    }

    .learn-more-link{
        font-size:10px;
    }

    .active-status-link{
        font-size:14px;
    }


}