body{
    margin:0px;
    background: #f2f2f2
}

.left-sidebar-div{
    background: white;
    width:310px;
    height:106%;
    border:1px solid #F1F1F1;
    border-right: 1px solid lightgray;
    margin-top:-318px;
    position: fixed;
}

.left-sidebar-bottom-icons{
    margin-left:17px;
    margin-top:3px;
}

.left-sidebar-bottom-underline{
    width:280px;
    margin-top:524px;
}

.left-sidebar-links{
    text-decoration: none;
    color:black;
}

.left-sidebar-links-row{
    display:flex;
    flex-direction: column;
    margin-left:10px;
    margin-top:12px;
}

.left-sidebar-links-div{
    margin-top:px;
    width:280px;
    padding:2px;
    padding-left:9px;
    padding-top:10px;
    padding-bottom:4px;
    border-radius:3px;
}

.left-sidebar-links-div:hover{
    background: #f2f2f2;
    width:280px;
    padding:2px;
    padding-left:9px;
    padding-top:10px;
    padding-bottom:4px;
    cursor:pointer;
}

.left-sidebar-link{
    font-size:20px;
    position: relative;
    top:-5px;
    left:-4px;
}

.left-sidebar-link-icon{
    font-size:23px;
}

.front-page-heading{
    font-family:'Roboto';
    font-size:20px;
    margin-top:22px;
    margin-left:330px;
}

.search-input{
    border:1px solid lightgray;
    border-radius:3px;
    outline:none;
    width:300px;
    padding:10px;
    padding-left:;
    margin-left:305px;
    border-radius:5px;
}

.search-input::placeholder{
    padding-left:25px;
}

.search-icon{
    font-size:20px;
    color:gray;
    position: relative;
    left:338px;
    top:4px;
}

.box{
    height:200px;
}

.box-line{
    margin-top:15px;
    width:1170px;
    height:1px;
    background: lightgray;
}

.box-icon{
    margin-top:13px;
    margin-left:530px;
    color: #E9EAED;
    font-size:80px;
}

.box-para{
    margin-top:8px;
    margin-left:450px;
}

.box-link{
    text-decoration: none;
    color:#385898;
    font-size:14px;
}


.box-link:hover{
    text-decoration: underline;
}