body{
    margin: 0;
    background:#F2F2F2;
    font-family: 'arial';
}

.left-sidebar-div{
    background: white;
    width:310px;
    height:106%;
    border:1px solid #F1F1F1;
    border-right: 1px solid lightgray;
    margin-top:-782px;
    position: fixed;
}

.left-sidebar-bottom-icons{
    margin-left:17px;
    margin-top:1px;
}

.left-sidebar-bottom-underline{
    width:280px;
    margin-top:224px;

}

.front-page-button,.front-page-button-2{
    text-decoration: none;
    margin-left:1288px;
    font-family:'Roboto';
    border:1px solid #1877F2;
    background: #1877F2;
    color:white;
    padding:8px;
}

.front-page-button{
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
    padding-right:10px;
    padding-left:14px;
    position: relative;
    top:-43px;
    font-size:14px;
    padding-bottom: 8px;

}

.front-page-button-2{
    position: relative;
    left:184px;
    top:-60px;
    border-left:3px solid #f2f2f2;
    padding-left:12px;
    padding-right:10px;
    padding-bottom: 11px;
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
    font-size:11px;
}

.front-page-button:hover,.front-page-button-2:hover{
    background: #0E52B0;
    transition: .2s;
}

.front-page-heading{
    opacity:88%;
    margin-left:330px;
    margin-top:23px;
    font-size:20px;
    font-family:'Roboto';

}

.front-page-image{
    height:311px;
    width:277px;
    margin-top:-38px;
    margin-left:325px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    box-shadow: 1px 1px px lightgray;
    border-right:1px solid white;

}

.box-1,.box-2,.box-3{
    margin-top:;
    margin-left:327px;
    padding-right:20px;
    width:1158px;
    background: white;
    border:1px solid transparent;
    border-left:1px solid transparent;
    box-shadow: 1px 1px 1px lightgray;
    border-radius:8px;
}

.box-1{
    height:309px;
    margin-top:-311px;
}

.box-2{
    height:260px;

}
.box-3{
    height:70px; 
}

.box-1-heading,.box-2-heading,.box-2-para-heading{

    font-family: 'Roboto';
    opacity:85%;
}

.box-1-heading{
    margin-top:-23px;
    margin-left:290px;
}


.box-1-icon{
    font-size:22px;
    margin-left:1130px;
    margin-top:12px;
    padding:8px;
    padding-left:8px;
    padding-right:8px;
    border-radius:8px;
    opacity:85%;
}

.box-1-icon:hover{
    background: #f2f2f2;
    padding:8px;
    padding-left:8px;
    padding-right:8px;
    cursor:pointer;
}

.box-1-para,.learn-more-link{
    line-height:18px;
    font-size:14px;
    margin-left:290px;
}

.learn-more-link,.block-lists-link{
    text-decoration: none;
    color:#216FDB;
}

.learn-more-link:hover,.block-lists-link:hover{
    text-decoration: underline;
}

.box-2-smaller-box-row{
    display: flex;
    flex-direction: row;
}

.box-2-smaller-box{
    border:1px solid lightgray;
    margin-left:17px;
    border-radius:8px;
    width:560px;
}

.box-2-smaller-box:nth-child(7){
    margin-left:600px;
    margin-top:-213px;
}

.box-2-smaller-box:hover{
    box-shadow: 2px 1px 1px lightgray;
    cursor: pointer;
    transition:.2s;
}

.box-2-icons{
    font-size:25px;
    border:1px solid #f2f2f2;
    padding:20px;
    background: #f2f2f2;
    border-radius:8px;
    margin-left:12px;
    margin-top:11px;
}

.box-2-heading{
    margin-left:16px;
}

.box-2-para-heading,.box-2-para,.box-2-para-desc{
    margin-left:90px;
    cursor: pointer;
}

.box-2-para-heading{
    margin-top:-64px;
}

.box-2-para{
    font-size:14px;
    margin-top:-8px;
}

.box-2-para-desc{
    font-size:12px;
    color:gray;
    margin-top:-12px;
}

.box-3-para{
    margin-top:-28px;
    margin-left:20px;
    font-size:14px;
}

.box-3-buttons-row{
    display: flex;
    flex-direction: row;
    margin-top:20px;
}

.yes-button,.no-button{
    text-decoration: none;
    color:black;
    border:1px solid #f2f2f;
    padding:10px;
    padding-left:16px;
    padding-right:16px;
    font-size:13px;
    background: #f2f2f2;
    border-radius:8px;
    margin-left:6px;
}

.yes-button:hover,.no-button:hover{
    background:lightgray;
}

.yes-button{
    margin-left:1050px;

}

.no-button{

}